<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">DEMO</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="servicios" class="nav-link">Servicios</a>
      </li>
      <li class="nav-item">
        <a routerLink="addservicio" class="nav-link">Agregar Servicio</a>
      </li>
      <li class="nav-item">
        <a routerLink="productos" class="nav-link">Productos</a>
      </li>
      <li class="nav-item">
        <a routerLink="addproducto" class="nav-link">Agregar Productos</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
